@use "sass:color";
$bg: black;
$text: white;
$purple: rgba(137, 43, 226, 255);
body {
  background: $bg;
  margin: 0;
  color: $text;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: calc(74px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: calc(74px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h3 {
  font-size: calc(74px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

p {
  font-size: calc(74px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.focus {
  color: $purple;
  font-size: 1.8em;
  vertical-align: middle;
  text-shadow: 0 0 32px purple;
  position: absolute;
  margin-left: 10%;
}

.title {
  position: relative;
}

@mixin glitch($offset, $path: null, $color...) {
  @extend .focus;
  color: color.adjust($purple, $color...);
  text-shadow: none;
  clip-path: $path;
  margin-left: 10% + $offset;
}

@mixin random_glitchy($name, $time, $wait, $mode) {
  @keyframes glitch-#{$name} {
    @for $i from 0 through $wait {
      #{100%/($wait+2)*$i} {
        opacity: 0%;
      }
    }
    100% {
      opacity: 100%;
    }
  }
  animation: glitch-#{$name} $time $mode alternate-reverse infinite;
}

.glitch-1 {
  @include glitch(0, inset(45% 0 40% 0), $alpha: -0.3, $red: +100);
}

@keyframes glitch-2 {
  0% {
    margin-left: 10%;
  }
  100% {
    margin-left: 13%;
  }
}

.glitch-2 {
  @include glitch(1%, $alpha: -0.6, $green: +200, $red: -20, $blue: -20);
  animation: glitch-2 3s steps(4, end) alternate-reverse infinite;
}

.glitch-3 {
  @include glitch(-1%, inset(70% 0 10% 0), $green: +100);
  @include random_glitchy(3, 1s, 0, steps(2, end));
}

.glitch-4 {
  @include glitch(
    1.3%,
    inset(30% 0 50% 0),
    $blue: +100,
    $red: -50,
    $green: +20
  );
  @include random_glitchy(4, 2s, 5, linear);
}

.glitch-5 {
  @include glitch(5%);
  @include random_glitchy(5, 3s, 3, steps(2, end));
}

.hero {
  height: calc(100vh - 3rem);
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.luxbar-default {
  width: 100%;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.luxbar-static {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .luxbar-checkbox:checked ~ .luxbar-menu {
    position: absolute;
  }
}

.luxbar-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.luxbar-fixed-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.luxbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 58px;
}

.luxbar-menu-left .luxbar-navigation,
.luxbar-menu-left .luxbar-header {
  justify-content: flex-start;
}

.luxbar-brand {
  font-size: 1.6em;
  padding: 18px 24px 18px 24px;
}

.luxbar-menu {
  min-height: 58px;
  transition: 0.6s ease;
  width: 100%;
}

.luxbar-navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
  text-shadow: 0 0 32px purple;
}

.luxbar-menu a,
.luxbar-item a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.luxbar-item {
  height: 58px;
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}

.luxbar-item a {
  padding: 18px 24px 18px 24px;
  display: block;
}

.luxbar-checkbox {
  display: none;
}

.luxbar-checkbox:not(:checked) ~ .luxbar-menu {
  overflow: hidden;
  height: 58px;
}

.luxbar-checkbox:checked ~ .luxbar-menu {
  transition: height 0.6s ease;
  height: 100vh;
  overflow: auto;
  overflow: hidden;
  /*customised by me*/
}

.dropdown {
  position: relative;
  height: auto;
  min-height: 58px;
}

.dropdown:hover > ul {
  position: relative;
  display: block;
  min-width: 100%;
}

.dropdown > a::after {
  position: absolute;
  content: "";
  right: 10px;
  top: 25px;
  border-width: 5px 5px 0;
  border-color: transparent;
  border-style: solid;
}

.dropdown > ul {
  display: block;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
}

.dropdown > ul .luxbar-item {
  min-width: 100%;
  height: 29px;
  padding: 5px 10px 5px 40px;
}

.dropdown > ul .luxbar-item a {
  min-height: 29px;
  line-height: 29px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .luxbar-navigation {
    flex-flow: row;
    justify-content: flex-end;
  }
  .luxbar-checkbox:not(:checked) ~ .luxbar-menu {
    overflow: visible;
  }
  .luxbar-checkbox:checked ~ .luxbar-menu {
    height: 58px;
  }
  .luxbar-menu .luxbar-item {
    border-top: 0;
    border-radius: 10px;
    margin: 5px;
  }
  .luxbar-menu-right .luxbar-header {
    margin-right: auto;
  }
  .dropdown {
    height: 58px;
  }
  .dropdown:hover > ul {
    position: absolute;
    left: 0;
    top: 58px;
    padding: 0;
  }
  .dropdown > ul {
    display: none;
  }
  .dropdown > ul .luxbar-item {
    padding: 5px 10px;
  }
  .dropdown > ul .luxbar-item a {
    white-space: nowrap;
  }
}

/******* color variables *******/

/******* default dark *******/

.luxbar-menu-dark,
.luxbar-menu-dark .dropdown ul {
  background-color: $bg;
  color: $text;
}

.luxbar-menu-dark .active,
.luxbar-menu-dark .luxbar-item:hover {
  background-color: $purple;
  transition: 0.5s ease;
}

.logo {
  margin-top: 10px;
}
